/* common shared styles */

body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    display: flex;
    list-style: none;
    
}
li{
    margin-right: 10px;
}
nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.text-primary
{
    color: rgb(240, 160, 70);
}
