/* common shared styles */

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: end;

  color: #181818;
}
li > a {
  text-decoration: none;
}
nav li {
  list-style: none;
  margin-right: 50px;
  color: #474747;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
  margin-right: 10px;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  width: 150px;
  height: 64px;
  color: var(--white-color, #fff);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
.nav-title {
  color: var(--dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 226px;
  margin-top: 51px;
}

.logo {
  color: var(--dark-01, #181818);
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text-primary {
  color: #fd6e0a;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
